* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.control-button {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(3, 169, 244, 0.85);
}
.control-button span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #f44336;
  padding: 15px 25px;
  font-size: 35px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
.info-container {
  width: 1080px;
  margin: 20px auto 0;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #2196f3;
}
.memory-blocks {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: 20px auto;
}
.memory-blocks.no-clicking {
  pointer-events: none;
}
.memory-blocks .game-block {
  height: 200px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  flex: 1 0 200px;
  cursor: pointer;
  position: relative;
  margin: 0 10px 20px;
}
.memory-blocks .game-block .face {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 5px solid #2196f3;
  position: absolute;
}
.memory-blocks .game-block .front {
  background-color: #333;
  line-height: 200px;
}
.memory-blocks .game-block .front::before {
  content: "!";
  font-size: 140px;
  font-weight: bold;
  color: white;
}
.memory-blocks .game-block .back {
  background-color: #607d8b;
  transform: rotateY(180deg);
}
.memory-blocks .game-block .back img {
  width: 170px;
  height: 170px;
  margin: 10px 0;
}
.memory-blocks .game-block.is-flipped,
.memory-blocks .game-block.has-match {
  transform: rotateY(180deg);
  pointer-events: none;
}
